# after you're done replacing these values with real ones,
# rename this file to .env
# .env files are gitignored so it won't get committed to source control

# make sure you're using the correct environment from within the LD console
LAUNCHDARKLY_SDK_KEY="replace with your sdk key"
TWILIO_ACCOUNT_SID="replace with your account sid"
TWILIO_AUTH_TOKEN="replace with your auth token"
VERIFY_SERVICE_SID="replace with your Verify Service SID"